body{
    padding: 1%;
}

.navbar{
    padding: 2%;
}

.body{
    padding: 4%;
}

/* .nav-link{
    color: white;
} */

.active{
    color: #DFC543;
} 

.navbar-brand{
    color: #DFC543;
    font-weight: bold;
}